  {% extends "employee_portal/templates/includes/base.html" %}
  {% block style %}
  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  {% endblock %}

  {% block title %}{{ ("Mis Permisos/Ausencias") }}{% endblock %}

  {% block page_content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Mis Permisos/Ausencias</h2>

        <div class="row">
          <div class="col-md-12 text-right">
            <a href="leave_application/new" data-url="leave_application/new"
              class="module-link btn btn-save-outline mb-4">Crear Nueva Solicitud</a>
          </div>
        </div>

        {% if leaves %}
        <table class="table table-bordered frappe-list display" id="table-leaves" style="width: 100%;">
          <thead>
            <tr>
              <th>Desde</th>
              <th>Hasta</th>
              <th>Tipo de Permiso</th>
              <th>Estado</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            {% for leave in leaves %}
            {% if leave.leave_type != "Vacaciones" %}
            <tr>
              <td>{{ leave.from_date }}</td>
              <td>{{ leave.to_date }}</td>
              <td>{{ leave.leave_type }}</td> 
              <td>{{ leave.status }}</td>
              <td class="text-center">
                <a href="leave_application/details?name={{ leave.name }}"
                  data-url="leave_application/details?name={{ leave.name }}"
                  class="module-link">
                  <span class="material-symbols-outlined" style="color: #757371;">visibility</span>
                </a>
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p class="text-center">No has hecho ninguna solicitud de permiso o ausencia.</p>
        {% endif %}
      </div>
    </div>
  </div>
  {% endblock %}