{% extends "employee_portal/templates/base.html" %}



{% block page_content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Hola, {{user.first_name}}!</h2><br>
        <h3>Anuncios Recientes</h3>
        {% if announcements %}
          {% for announcement in announcements%}
          <div class="card">
            {% if announcement.image %}
              <img src="{{ announcement.image }}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{announcement.title}}</h5>
              <p class="card-text">{{announcement.content}}</p>
            </div>
          </div>
          {% endfor %}
        {% else %}
          <p>No hay anuncios recientes</p>
        {% endif %}
      </div>  
      <div class="col-md-3">
        <h3>Próximos Eventos</h3>
      </div>
    </div>
  </div>    
{% endblock %}
