{% extends "employee_portal/templates/base.html" %}
{% block style %}
<link rel="stylesheet" href="/assets/employee_portal/css/base.css">
{% endblock %}

{% block title %}{{ ("Mis Eventos") }}{% endblock %}

{% block page_content %}
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <h2>Calendario de Eventos</h2>
          <div id="calendar"></div>
      </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
<script src="/assets/employee_portal/js/calendar.js"></script>
{% endblock %}