{% extends "employee_portal/templates/includes/base.html" %}
{% block title %}{{ ("Evaluaciones de Desempeño") }}{% endblock %}

{% block page_content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Mis Evaluaciones</h2>
      <div class="row">
        <!--
        <div class="col-md-12 text-right"> 
            <a href="evaluations/new" data-url="evaluations/new" class="module-link btn btn-primary mb-4">Crear Nueva Evaluación</a>
        </div>
        -->
      </div>
      {% if evaluations %}
      <table id="evaluationsTable" class="table table-bordered frappe-list">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          {% for evaluation in evaluations %}
          <tr>
            <td>
              <a href="/portal/evaluations/detail?name={{ evaluation.name }}" class="module-link"
                data-url="/portal/evaluations/detail?name={{ evaluation.name }}">
                {{ evaluation.name }}
              </a>
            </td>
            <td>{{ evaluation.kra_template }}</td>
            <td>{{ evaluation.status }}</td>
            <td>{{ evaluation.appraisal_date }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="text-center">No se han cargado evaluaciones para este usuario</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
{% endblock %}