{% extends "frappe/templates/base.html" %}
{% block style %}
<link rel="stylesheet" href="/assets/employee_portal/css/base.css">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="side-bar d-flex flex-column justify-content-center" 
                 style="position: sticky; top: 10%;">
                {% for module in modules %}
                <div class="card active-card" style="width: 100%;">
                    <div class="card-body d-flex flex-column ">
                        <a href="{{module.url}}" class="module-link" data-url="{{module.url}}" style="text-decoration: none; color: inherit;">
                            <h5 class="card-title">{{ module.name }}</h5>
                        </a>                        
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9">
            <div id="dynamic-content">
                {% block page_content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
<script src="/assets/employee_portal/js/base.js"></script>
<script src="/assets/employee_portal/js/my_profile.js"></script>  
{% endblock %}

