{% extends "employee_portal/templates/includes/base.html" %}
{% block title %}{{ ("Detalles de la Solicitud") }}{% endblock %}
{% block page_content %}
<style>
  .frappe-card {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
  }

  .frappe-control {
    margin-bottom: 20px;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Información de la Solicitud de Permiso {{ leave.name }}</h2>

      <!-- Información General -->
      <div class="frappe-card">
        <h3>Información General</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="frappe-control">
              <label for="posting-date">Fecha de Solicitud</label>
              <input type="date" id="posting-date" class="form-control" value="{{ leave.posting_date }}" readonly>
            </div>
          </div>
          <div class="col-md-6">
            <div class="frappe-control">
              <label for="department">Proceso / Departamento</label>
              <input type="text" id="department" class="form-control" value="{{ employee.department }}" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="frappe-control">
              <label for="employee-full-name">Nombre del Empleado</label>
              <input type="text" id="employee-full-name" class="form-control" value="{{ employee.employee_name }}"
                readonly>
            </div>
          </div>
          <div class="col-md-6">
            <div class="frappe-control">
              <label for="employee-id">ID del Empleado</label>
              <input type="text" id="employee-id" class="form-control" value="{{ employee.name }}" readonly>
            </div>
          </div>
        </div>
      </div>



      <!-- Tiempo Solicitado -->
      <div class="frappe-card">
        <h3>Tiempo Solicitado</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="frappe-control">
              <label for="from-datetime">Desde</label>
              <input type="date" id="from-datetime" class="form-control" value="{{ leave.from_date }}"
                readonly>
            </div>
          </div>
          <div class="col-md-6">
            <div class="frappe-control">
              <label for="to-datetime">Hasta</label>
              <input type="date" id="to-datetime" class="form-control" value="{{ leave.to_date }}" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="frappe-control">
              <label for="total-days">Total de Días</label>
              <input type="text" id="total-days" class="form-control" value="{{ leave.total_leave_days }}" readonly>
            </div>
          </div>
          
        </div>
      </div>

      <!-- Días de Vacaciones -->
      {% if leave.status == "Approved" %}
      <div class="frappe-card">
        <h3>Días de Vacaciones</h3>
        <div class="row">
          <div class="col-md-4">
            <div class="frappe-control">
              <label for="max-days">Días Máximos Permitidos</label>
              <input type="text" id="max-days" class="form-control" value="{{ leave_details.max_days }}" readonly>
            </div>
          </div>
          <div class="col-md-4">
            <div class="frappe-control">
              <label for="taken-days">Días Tomados</label>
              <input type="text" id="taken-days" class="form-control" value="{{ leave_details.taken_days }}" readonly>
            </div>
          </div>
          <div class="col-md-4">
            <div class="frappe-control">
              <label for="remaining-days">Días Restantes</label>
              <input type="text" id="remaining-days" class="form-control" value="{{ leave_details.remaining_days }}"
                readonly>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <!-- Motivo del Permiso -->
      <div class="frappe-card">
        <h3>Motivo / Observaciones del Empleado</h3>
        <div class="row">
          <div class="col-md-12">
            <div class="frappe-control">
              <textarea id="description" class="form-control" rows="3" readonly>{{ leave.description }}</textarea>
            </div>
          </div>
        </div>
      </div>

      <!-- Decisión sobre la Solicitud -->
      <div class="frappe-card">
        <h3>Decisión Sobre la Solicitud</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="frappe-control">
              <label for="status">Estado de la Solicitud</label>
              <input type="text" id="status" class="form-control" value="{{ leave.status }}" readonly>
            </div>
          </div>
        </div>
        {% if leave.status == "Approved" %}
        <div class="row">
          <div class="col-md-6">
            <div class="frappe-control">
              <label for="approved-by">Aprobado por</label>
              <input type="text" id="approved-by" class="form-control" value="{{ leave.approved_by }}" readonly>
            </div>
          </div>
          <div class="col-md-6">
            <div class="frappe-control">
              <label for="replacement">Suplente</label>
              <input type="text" id="replacement" class="form-control" value="{{ leave.replacement }}" readonly>
            </div>
          </div>
        </div>
        {% endif %}
      </div>


      <div class="row">
        <div class="col-md-12 text-right">
          <a href="/portal/vacations/" class="module-link btn btn-save-outline">Listo</a>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}